[2016-12-29 04:13] facastagnini opened #1 "community fork: pending issues and PRs from the original repo"
This is an incomplete list. Go over this issues and figure out what should be done.

Issues
- [ ] sorin-ionescu/prezto/issues/1131
- [ ] sorin-ionescu/prezto/issues/1170
- [ ] sorin-ionescu/prezto/issues/1200
- [x] sorin-ionescu/prezto/issues/1199

PRs
- [ ] sorin-ionescu/prezto/pull/1226
- [ ] sorin-ionescu/prezto/pull/1224
- [ ] sorin-ionescu/prezto/pull/1218
- [x] sorin-ionescu/prezto/pull/1214

[2016-12-29 16:11] facastagnini opened #3 "create a gh-page"
We need a place to demo what each module does, maybe a nice embebed gif from a video.
Check https://pages.github.com/

[2016-12-29 17:42] mdemierre opened #4 "syntax-highlighting module breaks '%_' in PS2 (continuation prompt)"
(copy from the original repo's issue)

When adding the syntax-highlighting module, the `%_` expansion (current constructs) doesn't work in PS2/PROMPT2.

Steps to reproduce:

1. Clone prezto repo, init submodules and setup symlinks
2. Add `syntax-highlighting` to modules, second to last like docs say
3. Open a new terminal
4. Try starting a for statement and continuing on next line
5. PS2 is `>` in

[2016-12-29 17:48] facastagnini commented on #4
just for the record: copied from sorin-ionescu/prezto/pull/1246

[2017-01-05 20:53] facastagnini commented on #4
@mdemierre thanks a lot for this bug report.

According to the [documentation](https://github.com/zsh-users/prezto/tree/master/modules/syntax-highlighting): **"Integrates zsh-syntax-highlighting into Prezto."** and further on **"New features and bug fixes should be submitted to the zsh-syntax-highlighting project according to its rules and regulations. This module will be synchronized against it."

[2017-01-07 00:05] matt-sorenson opened #8 "commit f7b981402d7e3fd04ab44fafe052f258cec8b950 broke multiple themes"
https://github.com/zsh-users/prezto/commit/f7b981402d7e3fd04ab44fafe052f258cec8b950  broke multiple themes that use coalesce in their git-info setup

Example line that was broken: https://github.com/zsh-users/prezto/blob/master/modules/prompt/functions/prompt_paradox_setup#L143

Minimal example:
coalesce "1234 test" "" "➦ test"
outputs:
1234

previously it would have output
1234 test

Unsure of wh

[2017-01-07 00:13] matt-sorenson commented on #8
As a note for others, in the theme I use I replaced the space in the string with \u00A0 (non-breaking space) which doesn't seem to be caught by the above issue

[2017-01-07 01:47] wonbyte commented on #8
I would use the non breaking space, otherwise you will start to randomly see `coalesce:1: scalar parameter arg created globally in function coalesce`

[2017-01-07 01:59] wonbyte commented on #8
created fix https://github.com/zsh-users/prezto/pull/9

[2017-01-07 21:13] mdemierre commented on #4
@facastagnini I tried with vanilla zsh (no prezto) and only loaded zsh-syntax-highlighting from upstream master. The issue does not appear.

![zsh_syntax_highlighting](https://cloud.githubusercontent.com/assets/459125/21745212/7661d992-d526-11e6-96cd-946386bcb43a.png)

I guess it is either the prezto plugin or other plugins (maybe editor?) that break it. Sometimes I see the correct prompt for a sp

[2017-01-07 22:58] mdemierre commented on #4
The problem comes from line 107 of `modules/editor/init.zsh`: `zle redisplay`. Commenting it fixes the issue, but it probably breaks something else... I suspect it could break the editor mode indicator in prompts.

[2017-01-09 15:56] facastagnini commented on #8
#9 have been merged

[2017-01-09 15:56] #8 closed

[2017-01-09 19:06] matt-sorenson commented on #8
That fix doesn't solve the problem using the input above it now only outputs '1' and if the first argument is blank returns an empty string

I was putting the non-breaking space in the theme itself.

[2017-01-11 16:10] facastagnini opened #12 "Bring the module index up to date"
https://github.com/zsh-users/prezto/blob/master/modules/README.md is outdated.

[2017-01-11 21:12] facastagnini opened #13 "review sorin-ionescu/prezto/pull/1202"
There might be some value there.

[2017-01-12 10:03] yannick1974 opened #14 "Commit 016ecb8 breaks the display of git branch with sorin theme"
Hi,

With sorin theme and git module, the name of the git branch of the current directory was displayed in the right prompt. This is no longer the case (but the other git information are displayed).

I bisected the problem to commit 016ecb8. Reverting it restore the old behaviour.

This happens on Debian with zsh 5.3.1 and fr_FR.utf8 locale. Can anybody test with another configuration?

Regards,

[2017-01-12 15:46] sbadia commented on #14
Same issue here, with `zsh-5.3.1` and `en_US.UTF-8`, thanks @yannick1974 for the debug!

[2017-01-12 16:28] facastagnini commented on #14
Hmmm, that came from #9. I am reverting it until we can figure out a better way to handle that.

[2017-01-13 10:26] Marsup opened #15 "Disable lazy loaded nvm"
Hi,

Upgraded to your fork, it's been great so far, kudos for the work !

I'm just having one problem, that is on a new shell, if I run npm directly, or any nodejs file that declares `#!/usr/bin/env node` in its header, it will fail saying that there's no such file as node.
I'm no shell expert and I'm not sure there's a way out of this, so if this cannot be fixed, is it possible to make this behav

[2017-01-17 14:16] #14 closed

[2017-01-17 14:25] facastagnini commented on #13
nope, not at all.

[2017-01-17 14:25] #13 closed

[2017-01-20 22:28] shelldandy commented on #3
I can help with that, what is needed?

[2017-01-22 00:16] binarykitchen opened #18 "Funny behaviour: constantly adding new lines itself"
Suddenly I see this very funny behaviour: prezto (in conjunction with zsh) it constantly adding new lines every 2 second or so. Itself, without my interference. See screenshot.

![selection_002](https://cloud.githubusercontent.com/assets/177641/22168890/f83b0886-dfd4-11e6-81fb-630af0b956f5.png)

Why is this happening and what config could cause this? Or is this because of a recent version bump? I

[2017-01-23 07:41] binarykitchen commented on #18
has this something to do with keepalive?

[2017-01-23 20:32] pikeas opened #19 "History search semi-broken"
Start with a simple command:

    $ ls -a
    ...
    $ ls -l
    ....

Now hit `ctrl-r` and type `ls`. The most recent result will populate. Hit `ctrl-r` again.
Expected: `ls -a`.
Actual: `failing bck-i-search: ls`

[2017-01-23 20:59] facastagnini commented on #19
Hey @pikeas thanks for your report.
I will be afk for a few weeks, I will take a look at this as soon I am able.

[2017-01-23 23:20] pikeas commented on #19
I found https://github.com/zsh-users/zsh-syntax-highlighting/issues/407, which indicates an upstream problem in zsh itself!

I've compiled zsh from their master branch and `ctrl-r` appears to work as expected.

Is this worth a note on the history-search module's README?

[2017-01-26 21:44] jeffcox opened #23 "New coalesce function treats any space as a new string"
My current prompt uses coalesce to pick a git branch to display.  From zsh --xtrace:

`git_info=( bg '$(coalesce "" "3" "2")' prompt '$(coalesce " master" "" "864dc09")' rprompt '%F{3}↑4%f' )`

The problem lies in the space between a powerline symbol and the word "master"  See attached screenshots.

[2017-01-26 21:44] jeffcox commented on #23
Current:
![screen shot 2017-01-26 at 1 41 42 pm](https://cloud.githubusercontent.com/assets/200446/22351582/8b63923a-e3cd-11e6-90ed-920f3a85bb0e.png)
Previous:
![screen shot 2017-01-26 at 1 42 06 pm](https://cloud.githubusercontent.com/assets/200446/22351586/8d1e92a0-e3cd-11e6-8bc1-4706e04b1f37.png)

[2017-01-28 11:01] ahmedelgabri opened #24 "lazy loading node with homebrew installed nvm issues."
It doesn't work properly, doesn't load node from `nvm` & doesn't load globally installed modules too. Some issues I found:

[code]
[code]
[code]

1. `nvm.sh` is not inside `~/.nvm` it's inside `$(brew --prefix nvm)`
2. When `lazy_load_nvm` gets passed `$(brew --prefix nvm)` as `$1`
3. `$NODE_GLOBALS` doesn't work because the versions are inside `~/.nvm/versions` not inside `$(brew --prefix nvm)/ve

[2017-01-30 01:09] max-baz commented on #4
Related: #17

[2017-02-06 05:52] sodiumjoe commented on #24
maybe prezto should incorporate https://github.com/lukechilds/zsh-nvm, which has a lazy-load mode that seems to work at least as well as prezto's built-in version

[2017-02-10 10:37] nicoulaj opened #26 "Project organization"
Related: sorin-ionescu/prezto#1239

Hi guys,

This project has been created a couple months ago and it has not received much love (last commit one month ago, pull requests are not answered).

I got pinged by confused users on IRC and twitter, so I think this project organization needs to be clearly defined, and I suggest the following actions:
- [ ] Clearly define who are the project leaders
- [ ]

[2017-02-11 12:46] quantonganh opened #27 "command not found: compdef"
When I open a new tab, I saw this:

[code]

`compdef` is defined in `/usr/share/zsh/5.2/functions/compinit` which is included in `$fpath`:

[code]

`compaudit` returns nothing.

[code]

does not help.

`zsh -xvi -c exit &`: https://gist.github.com/e98695ea4bf30930d88e52dac0142d1a

[2017-02-15 20:44] facastagnini commented on #26
Hey guys!

Sorry that I went silent for a month, but I took time off to travel. I have been dedicating some time in March merging features and fixes, and I will continue doing so. I will be addressing @nicoulaj 's concerns in the coming weeks.

EDIT: I am back :)

[2017-02-24 21:07] Aeon commented on #26
@facastagnini I think, as discussed on sorin-ionescu/prezto#1239, it would be great to have a team of maintainers, so it's not blocked on one person's business/interest level

[2017-02-25 05:04] johnpneumann opened #32 "Coalesce functionality breaks git branch on paradox theme"
When using the paradox theme, the new coalesce function introduced in f7b981402d7e3fd04ab44fafe052f258cec8b950 breaks the git branch functionality.

Where it's occurring is in [prompt_paradox_setup 142-144](https://github.com/zsh-users/prezto/blob/master/modules/prompt/functions/prompt_paradox_setup#L142-L144)

[code]

Before:
<img width="271" alt="paradox_coalesce_before" src="https://cloud.githu

[2017-02-25 05:07] johnpneumann commented on #26
Agreed on above and would be willing to dedicate time to assist with things where I can/necessary especially given that the previous repo was "abandoned" and I really enjoy prezto over the alternatives that I've found.

[2017-02-27 18:30] paulmelnikow commented on #26
I'd be happy to help with triaging and migrating issues and PRs from the old repository.

Have already started poking at them, see https://github.com/sorin-ionescu/prezto/pull/1242#issuecomment-281200759 .

[2017-02-27 18:44] nicoulaj commented on #26
I have invited both of you to the team of committers. Also, I have removed 4 other initial committers who have not given any sign of life.

The current team is:
* @facastagnini
* @johnpneumann
* @paulmelnikow

If you want to join the team, please speak up!

[2017-02-27 19:48] paulmelnikow commented on #26
Thanks! Look forward to helping.

[2017-02-28 02:10] paulmelnikow commented on #3
@mike3run I just joined the project. Would love to enlist your help!

[2017-02-28 02:16] shelldandy commented on #3
Sure thing man, I'm a frontend developer as my day job Im semi-okay at design but if I can get a design like a sketch or psd i can code that and even setup the gh-pages branch.

So yeah lets maybe get a design or brainstorm the basics of the page and I'll code it no problem. 😄

[2017-02-28 02:26] paulmelnikow commented on #19
Good find @pikeas! Would you mind opening a PR for that?

[2017-02-28 03:39] johnpneumann commented on #26
Awesome! I'll probably be sparse this week, but I'll try and get things in either early morning or late night.

[2017-02-28 03:47] johnpneumann commented on #32
@wonbyte - can you give any context to the race condition you were seeing?

[2017-02-28 04:05] paulmelnikow commented on #3
Awesome. I'm not a designer but I'd be happy to take a stab at the content. Maybe I can recruit my talented designer friend to help. I'm a huge fan of iteration. Let's start with something simple and improve on it. It'll be easier to recruit a designer that way, anyhow. Will ping you back shortly!

[2017-02-28 15:09] paulmelnikow commented on #12
As I said in #33 this issue is about bringing https://github.com/zsh-users/prezto/blob/master/modules/README.md up to date with a current list of modules.

In the medium term this content is better presented on a website as @facastagnini suggested in #3. It'll be more browsable, searchable, and accessible that way.

In the short term perhaps we can write a script to update this page from the indiv

[2017-02-28 15:36] johnpneumann commented on #32
duplicate of #23 - closing

[2017-02-28 15:36] #32 closed

[2017-02-28 22:31] paulmelnikow commented on #1
I'm triaging the open pull requests on sorin-ionescu/prezto. I'm labeling them nope, maybe, promising, and duplicate. When I finish, I'll add the results to this issue.

What would be a good next step after that? Is someone else down to take a careful pass through and check my work? Should we go ahead and open new pull requests for the most promising?

[2017-03-01 01:45] dvcrn commented on #26
Apologies, things have been unexpectedly busy work-wise here. I'm hoping to help in the future though!

[2017-03-03 08:12] donpatrice opened #35 "Problems with multi user setup and sorin prompt"
I am using a multi user setup on Ubuntu 16.04 and have the problems mentioned in https://github.com/sorin-ionescu/prezto/issues/1199 even after [this commit](https://github.com/zsh-users/prezto/commit/436a7f941ecb07909c112bb5a96a1bbcc4f6f13c). Any ideas? Thanks!

[2017-03-03 11:35] seguri opened #36 "node module should support nodenv"
Hello,

[node](https://github.com/zsh-users/prezto/tree/master/modules/node) module currently supports only nvm. It should also support [nodenv](https://github.com/nodenv/nodenv).

[2017-03-03 13:20] paulmelnikow commented on #35
Thanks for reporting the issue.

What is the value of $TMPDIR?

Perhaps the test in 436a7f9 should check ownership (-O) instead of, or in addition to, existence.

[2017-03-03 20:27] Cottser opened #38 "Update authorship and acknowledge past authors/maintainers"
Since this is now a community-maintained project, I think we should find a way to make the files in this project reflect that a bit better. I see that the READMEs have been updated to point to this repo which is a great step. This might be a bit controversial but at the same time, I think it would be respectful to not have Sorin's email all over the files in this project, including lines like this

[2017-03-03 22:51] paulmelnikow commented on #18
If the problem is in a recent version, there's an easy way to track it down. Find an earlier commit that doesn't exhibit the problem, then use [git bisect](https://robots.thoughtbot.com/git-bisect) to quickly pin down the offending commit.

Which prompt are you using? Does the problem persist if you use a different prompt?

[2017-03-03 23:21] paulmelnikow commented on #38
Hi, thanks for your suggestion and interest in carrying this project forward.

We could recognize Sorin's extraordinary contributions, and also Robby's contributions, the origins of oh-my-zsh at Planet Argon, and Sorin's rationale in forking. It's important to recognize past and present authors and maintainers, and we could do a better job at this juncture. The readme updates merely direct users t

[2017-03-03 23:33] paulmelnikow commented on #27
It appears you've got a copy of the [golang plugin from OMZ](https://github.com/robbyrussell/oh-my-zsh/blob/master/plugins/golang/golang.plugin.zsh). That plugin contains completions for the `go` command and a few aliases.

The Pretzo `completion` module already provides [completions for `go`](https://github.com/zsh-users/zsh-completions/blob/master/src/_go).

I'd suggest adding `completion` to yo

[2017-03-03 23:43] paulmelnikow commented on #24
Thanks for this issue.

Would either you like to work up a pull request?

@lukechilds, would you be interested in replacing what we've got with your module?

I'm having trouble with nvm lazy-loading on Mac OS and would be happy to review and test.

Added: The problem I'm having is #15.

[2017-03-03 23:47] paulmelnikow commented on #23
Hi, thanks for this issue.

@johnpneumann Based on what you wrote, it sounds like reverting the change in f7b9814 fixes this.

Let's go ahead and do that, and see if we can get more information on the race condition @wonbyte encountered which it was intended to fix.

[2017-03-04 00:50] paulmelnikow commented on #4
With your reproducible test case and `git bisect`, I was able to track down [the commit in zsh-syntax-highlighting](zsh-users/zsh-syntax-highlighting/commit/487b122c480d00befc3f80a8cc2e53ad99593b2c) when this problem began. If I revert that change in master the problem goes away.

However, that commit message explains clearly the intent of the change, and it makes perfect sense. This makes me susp

[2017-03-04 02:02] paulmelnikow commented on #4
Proposed solution: #40

[2017-03-04 08:37] ahmedelgabri commented on #24
@paulmelnikow I think you can use `zsh-nvm` with prezto normally if it's not a module _not 100% sure but it should work_ check the manual install https://github.com/lukechilds/zsh-nvm#manually

I don't use prezto anymore, I [switched](https://github.com/ahmedelgabri/dotfiles/blob/17dca7b88402c2d7c46dcdfbcc9f6640aa352239/zsh/.zshrc#L10-L65) to `zim` with `zplug` & installed `zsh-nvm` too & that fix

[2017-03-04 15:12] paulmelnikow commented on #24
Ah cool, maybe someone can give that a shot. Would be great to have it integrated as an external module, especially given our nvm support is buggy.

I've been following [Zim](https://github.com/Eriner/zim), which started off as an endeavor to maintain a Prezto fork, before Matt, the author decided to rewrite it instead. It looks really promising. Technically in great shape, and also takes a smart

[2017-03-04 15:27] ahmedelgabri commented on #24
[zim](https://github.com/zimframework/zim) now has it's own organization BTW.

Regarding zplug, honestly, it just looked simple, [fast](https://github.com/zplug/zplug#vs) & familiar. Since it's similar to `vim-plug`—  _which I use to manage my vim plugins_ — they even mention that it was [inspired](https://github.com/zplug/zplug#note) by it

[2017-03-04 15:52] facastagnini commented on #3
@mike3run , @paulmelnikow thank you so much for volunteering to help with the gh-page. At this point we dont have a designer, so the first step is to get a design, so we will need a designer and references.

- How do you thing the page should look like?
- What information should be there?

[2017-03-04 16:08] paulmelnikow commented on #24
Re zim, that's good to know! I hadn't seen the new organization yet. I'll have to catch up on those discussions.

Interesting, a bunch of the zsh plugin managers seem to be inspired by vim plugin managers. Seems like the vim community is ahead of the game.

[2017-03-04 16:16] facastagnini commented on #19
@pikeas can you pot a reference to the commit it od the head of zsh when you compiled and worked? I want to identify the version that includes that fix in zsh.

[2017-03-04 16:22] paulmelnikow commented on #3
@facastagnini Glad you're back! Look forward to working together.

This is the place to start.

I set out to write an outline, and in the process researched "competitor" sites, to see how they describe their projects.

At that point I got derailed. I caught up on years of Prezto history, along with all the other developments in the community that have taken place since. [Plugin managers](http://an

[2017-03-04 16:27] facastagnini commented on #1
@paulmelnikow I will help you go over the list.

[2017-03-04 16:33] paulmelnikow commented on #1
Awesome. I haven't finished, though I made it from PR 533 to 963.

[2017-03-04 16:35] facastagnini commented on #36
Hi @seguri , can you provide a PR?

[2017-03-04 16:48] facastagnini opened #41 "PR approval process"
Since this is a community maintained project we should have a basic approval process for PRs.

I would like to propose that we need **a majority of maintainers' OK before merging**

I am submitting this proposal looking for agree or disagree comments and remarks, please participate.

CC current maintainers: @paulmelnikow @johnpneumann

NOTE: Branching from #26 to keep that thread clean.

[2017-03-04 16:49] facastagnini commented on #26
I just created #41 to formalize some guidelines about PR approval.

[2017-03-04 16:56] facastagnini commented on #3
@paulmelnikow please join me at https://gitter.im/zsh-users/prezto for a quick conversation

[2017-03-04 17:17] paulmelnikow commented on #41
We could also say "a majority of maintainers". That would reduce the risk in bringing on new people at this stage, and make sure as the team grows they are staying aware of what's happening.

[2017-03-04 17:21] paulmelnikow commented on #23
Resolved in #39

[2017-03-04 17:21] #23 closed

[2017-03-04 17:23] facastagnini commented on #26
related #38

[2017-03-04 17:33] facastagnini commented on #41
Agree, I updated the proposal in the first comment to keep it simple.

I think this definition should be approved by everyone in the team. At this moment we just need @johnpneumann to agree. Please let us know your thoughts.

[2017-03-04 17:35] johnpneumann commented on #41
When we say "majority" are we saying a "senate majority" (an actual majority of the maintainers - ex. 11 out of 20 maintainers agree) or are we just saying that we need a "simple majority" (more people in agreement than disagreement - 4 out of 7 of the maintainers that commented on the PR)?

[2017-03-04 17:44] facastagnini commented on #41
I think that we need at least two maintainers to agree with a change, no matter how many users ask for a change, we are supposed to be the benevolent gate keepers right? is that our role as maintainers?

[2017-03-04 17:46] johnpneumann commented on #38
To quote myself on this (from #33)

I think the latter point, matters less to me than having clarity.

[pep 8](https://www.python.org/dev/peps/pep-0008/)

I agree that having Sorins email on here may only increase the amount of people that continue to hit him up about things, however, I'm torn on how to do that. Putting something up at the top of the README with a link to the issues page here and

[2017-03-04 17:48] paulmelnikow commented on #41
I'd say senate majority, 2 of 3 maintainers, 3 of 5 maintainers, 4 of 7.

If the team grows significantly we could adopt a new approach. At this stage what the project most needs is a committed group of leaders who are contributing on a consistent basis. A senate majority will help keep us engaged.

[2017-03-04 17:52] johnpneumann commented on #41
@facastagnini - I wasn't insinuating that it was just a majority vote, but a majority vote by maintainers specifically. If anyone can merge anything based on just any vote count, then we'll be Pitbull playing a show in Kodiak, Alaska.

[2017-03-04 17:54] johnpneumann commented on #26
We should also start labeling issues, so we can track down what's a bug, what's a question and/or conversation, etc.

[2017-03-04 17:56] paulmelnikow commented on #26
How about Bug, Feature, Question, and Project to start? We could use Project for threads like this one, #3, etc.

[2017-03-04 18:04] johnpneumann commented on #26
Also think that a _bikeshedding_ label would be useful so that someone doesn't get sucked into a rabbit hole of things that hurt their brain with no end result.

[2017-03-04 18:10] danilobuerger opened #42 "GPG_AGENT_INFO not populated"
When enabling the gpg module the GPG_AGENT_INFO env only gets populated when starting up the gpg-agent. When the gpg-agent is already started, the env doesn't get set.

This was first created here: https://github.com/sorin-ionescu/prezto/issues/1252

However, I switched to gpg 2.1 where GPG_AGENT_INFO is no longer being used, so this is not an issue for me personally anymore.

[2017-03-04 18:29] facastagnini commented on #41
ok, we have an agreement 👍

[2017-03-04 18:29] #41 closed

[2017-03-04 18:35] paulmelnikow opened #44 "Define the goals of this fork"
When this project was created, @nicouaj made this suggestion in #26:

I’m opening this ticket as a place to discuss the project goals. This discussion will help determine how we – that's @facastagnini, @johnpneumann, and I, to start – maintain the project, and the direction it takes.

We want to hear from you: users, module developers, and other stakeholders.

Here are a few questions to think abo

[2017-03-04 18:36] paulmelnikow commented on #26
Opened #44 to discuss the project goals.

[2017-03-04 18:43] facastagnini commented on #38
First point addressed here #43

[2017-03-04 18:47] paulmelnikow commented on #26
_Accepted_ is a nice label to put on a bug or feature ticket, to indicate that we agree the functionality should be added / fixed. The ESLint project uses it. Having vetted tasks makes it easier for new contributors to find a way to plug in.

Looks like we will need to ask @nicoulaj to create these labels.

[2017-03-04 18:51] paulmelnikow commented on #42
Thanks for this issue.

Out of curiosity, what version were you using before? I ask because gpg 2.1 was released in 2014. Certainly some machines and OSes have old versions of programs installed, so if this is a simple fix I imagine it's worth fixing.

[2017-03-04 18:58] paulmelnikow commented on #26
@nicoulaj would you please:

- Add "project"
- Rename "help wanted" to "accepted"
- Rename "enhancement" to "feature"
- Remove "invalid" and "wontfix"

Added: nm, looks like we have access

[2017-03-04 19:00] paulmelnikow commented on #36
Is there evidence that [nodenv](https://github.com/nodenv/nodenv) is widely used?

[2017-03-04 19:05] facastagnini commented on #26
I have been updating @nicoulaj's top comment to clearly indicate where each bullet point is being address.

[2017-03-04 19:31] paulmelnikow commented on #26
@johnpneumann I added a "needs bikeshedding" tag, taking a cue from ESLint, to indicate the thread is going to be a deep dive. Is that what you have in mind?

[2017-03-04 20:08] mc10 opened #46 "Add topics"
For the admin here: adding "prezto" and "zsh" as topics could help bolster discoverability of this repo.

[2017-03-04 20:20] paulmelnikow commented on #3
I've got a draft ready for comments + edits. I wrote it in a Google Doc which in my experience is the fastest way to iterate.

https://docs.google.com/document/d/11OrSNfvhs4Wsab74l94spE_zpURdrtchd8i3BPl4nmk/edit#

[2017-03-04 20:21] paulmelnikow commented on #46
pinging @nicoulaj

[2017-03-04 20:43] johnpneumann commented on #26
@paulmelnikow - Yeah that works. Can we change it so that there are no spaces in labels? Underscore or dash to separate words. I know that it degrades readability to a certain degree, but it makes it easier for scripting against the api (say if we wanted to migrate all issues from sorin to here and label them, _from\_sorin_ or _transferred\_from\_sorin_).

[2017-03-04 20:46] paulmelnikow commented on #36
Its [inclusion](https://github.com/github/homebrew-bootstrap/blob/e503f68b45dcb7654342050c902a50400370a953/cmd/brew-bootstrap-nodenv-node) in [Github's Homebrew Bootstrap](https://github.com/github/homebrew-bootstrap) is good enough evidence for me.

Two open PRs for this!

- sorin-ionescu/prezto#1001
- sorin-ionescu/prezto#1178

Let's review these and pull one of them in.

[2017-03-04 21:04] paulmelnikow commented on #46
"shell" would be good too.

[2017-03-04 22:06] paulmelnikow commented on #26
@johnpneumann could we touch base at https://gitter.im/zsh-users/prezto ?

[2017-03-04 22:21] paulmelnikow commented on #1
Made it through all 124. Here are my notes:

https://docs.google.com/spreadsheets/d/1UfLkmtfv-_cS_Puj5BLVnZ9edhn5DgLkm-liGnSUDu4/edit

[2017-03-04 22:53] beloso opened #47 "Broken sorin theme"
Over the last updates sorin theme lost its "coloured arrows" on the end of the left prompt.

[2017-03-04 23:10] johnpneumann opened #48 "#40 Broke prompts that utilize the editor_info"
There are two issues currently:

1. Any prompt that utilizes the `${editor_info[keymap]}` functionality now loses that part of the prompt. Affected themes:
  - damoekri
  - giddie
  - kylewest
  - paradox
  - sorin
2. When running `prompt -p` the affected themes now get the `>>>` from the sorin theme preview. ex with the giddie theme:

<img width="528" alt="after_prompt_p" src="https://cloud.githu

[2017-03-05 00:29] facastagnini commented on #47
This is superseed by #48

[2017-03-05 00:29] #47 closed

[2017-03-05 00:33] facastagnini commented on #48
If the option 2 is going to reintroduce a problem is not a happy option :(
I would update the themes.

[2017-03-05 03:57] sodiumjoe commented on #24
I just recently tried to switch off of prezto to a zsh plugin manager, but they all had slower zsh startup times for my setup than prezto. I'll have to try zim.

[2017-03-05 03:57] lukechilds commented on #24
@paulmelnikow Sorry, I'm pretty busy with other projects at the moment.

I'd probably recommend using a plugin manager and just using `zsh-nvm`. It gets updated fairly frequently.

If you really want to embed it in prezto it shouldn't be a big job. You should just be able to just copy/paste the lazy load function.

[2017-03-05 03:59] lukechilds commented on #24
@sodiumjoe Yeah the tradeoff for the extra modularity is increased complexity in the loaders and therefore slower startup. However most modern plugin managers have some sort of caching functionality to make the difference pretty small.

[2017-03-05 04:02] sodiumjoe commented on #24
@lukechilds yeah that makes sense, though I each with all available caching and prezto was still faster. For my own personal use, I don't mess with my zsh setup that often, while I open new shells all the time, so the tradeoff doesn't really make sense. [This](https://github.com/Eriner/zim/wiki/Speed) makes me hopeful about zim, though!

[2017-03-05 05:55] paulmelnikow commented on #48
My instinct is to roll back #40. That would correct the bug as quickly as possible. It reintroduces a problem that's been long standing and was only momentarily fixed. Arguably many more users are affected by and care about seeing the editor state than the busted continuation prompt. If we do this immediately, it's less likely that users will notice.

We should develop an optimal solution to both

[2017-03-05 06:01] paulmelnikow commented on #48
See #50.

[2017-03-05 06:02] facastagnini commented on #48
This is a very relevant comment. I agree with you, lets merge #50

[2017-03-05 06:57] danilobuerger commented on #42
2.0.30

[2017-03-05 16:14] johnpneumann commented on #4
~~So after looking at this after things broke from #40 (reported in #48), the issue is not with prezto, but with the themes. If you wish to have the ps2 portion work as it's intended within any of the themes that modify the prompt (save one), you'll need to create your own theme that supports this functionality. If you pull down prezto and enable the `pure` theme, you'll see that theme supports th

[2017-03-05 19:09] johnpneumann commented on #4
Disregard my last. After resetting everything to defaults and going through it again, the issue is not solved by the above. Something in my configuration was allowing it to work, so after resetting to defaults again, the flow control statements are not there. However, after going through this further, it appears that the issue is within the zle bits. I'll continue to look at this, but there's a co

[2017-03-06 01:08] pikeas commented on #19
@facastagnini I compiled https://github.com/zsh-users/zsh/commit/64c67581d2f4d131a3c1bebdeda6b70ec7da2610, which was HEAD at the time I figured this out.

[2017-03-06 14:24] donpatrice commented on #35
Sorry, now I am confused. The test was removed with https://github.com/zsh-users/prezto/commit/33923323e1804bbf06269e3916ad2db0f622193d. So TMPDIR is empty, and
[code]
for every user and this makes trouble:
`prompt_sorin_precmd_async:4: permission denied: /tmp/zsh-prompt_sorin_data`.

[2017-03-06 14:58] facastagnini commented on #1
great work @paulmelnikow , I will go over that list and update the top comment in the following days

[2017-03-06 15:24] facastagnini opened #52 "Evaluate plugin managers"
It is a waste of time to write our own modules/plugins while there is many projects dedicated just to provide a flexible plugin management for zsh.

[2017-03-06 15:50] paulmelnikow commented on #35
Huh, you're right. Looks like that was changed in #6. That change makes sense to me though.

Is `mktemp -d` returning `/tmp`? That seems broken. This is what I get on my Mac.

[code]

This is from a CentOS system:

[code]

[2017-03-06 18:22] gmattar opened #53 "New tabs and windows don't open in current directory on iterm2"
Even with Preferences -> Profile -> General -> Working Directory set to "Reuse previous session's directory", a new tab or window always open on ~/.

OSX: Sierra and El Capitan
iTerm2: Build 3.0.14

[2017-03-06 18:43] paulmelnikow commented on #53
Hi, thanks for this issue.

I use iTerm2, and didn't know this was possible. Sounds really useful though!

I'm not able to reproduce the problem you're experiencing. Here's what I did:

1. Turn on that option in Profiles, "Reuse previous session's directory."
2. Open an iTerm2 window and `cd .zprezto`.
3. Press Cmd-N and Cmd-T. Both times cwd is `~/.zprezto`.
4. Close all my iTerm2 windows.
5. Pre

[2017-03-06 23:48] paulmelnikow commented on #52
I agree that we should look into these. I was just discussing this with a former Prezto user on a recent issue: https://github.com/zsh-users/prezto/issues/24#issuecomment-284137400.

If Prezto provided a path to load external plugins, we'd get access to a wealth of [independently maintained plugins](https://github.com/unixorn/awesome-zsh-plugins#plugins). Adding external submodules for all of thes

[2017-03-06 23:56] paulmelnikow commented on #52
## Nomination for [zplug](https://github.com/zplug/zplug)

- Fairly popular and easy to use. ✔️
- Supports function-only modules, like Prezto does. ✔️
- Actively maintained. ✔️
- Has a cache mechanism which speeds up loading a little. ✔️

I've played around with it a bit, so I'll volunteer to experiment with a Prezto integration. In my experience it was impossibly slow (at least by my standards).

[2017-03-07 00:19] johnpneumann commented on #19
I have 5.2 and do not have the issue.

[2017-03-07 00:34] johnpneumann commented on #53
Not having this issue either. OSX Sierra / iTerm2 Build 3.0.15 / prezto @ a08bfd6

[2017-03-07 03:20] paulmelnikow commented on #46
I'd also like to change the description. How about this:

Getting "community fork" in the description could make us easier to find in Google.

[2017-03-07 03:41] paulmelnikow commented on #3
@facastagnini Can I get a green light on this copy?

[2017-03-07 19:17] belak commented on #44
I think this is definitely a good thing. I'm a huge fan of zprezto, but it could definitely be better maintained.

1. I've always viewed zprezto as a simpler version of oh-my-zsh (which makes sense because that's what it was initially started as). There was a [blog post](https://medium.freecodecamp.com/d-oh-my-zsh-af99ca54212c) a while back by robbyrussell about how OMZ grew and it links to an iss

[2017-03-07 19:55] facastagnini commented on #52
@belak could you evaluate zplug? I will do so too, we can share our thoughts later

[2017-03-07 21:56] paulmelnikow commented on #52
@belak Would be great if you could do that!

I've got a [branch with a "zplug" module](https://github.com/paulmelnikow/prezto/tree/zplug/modules/zplug) that loads configured modules from the zplug cache. It's kind of a hack, but it's working okay.

It doesn't update dynamically, though it averages about 600 ms faster 💨  than loading zplug directly. Promising.

Let me know if there are problems on

[2017-03-07 22:47] belak commented on #52
Current candidates: antigen, zplug, zgen. I'm working on a summary of each of them and I'll post that when it's ready.

[2017-03-07 23:01] belak commented on #52
Initial list of plugin manager summaries. Please let me know if you think I've missed anything important.

## antigen

https://github.com/zsh-users/antigen

### Advantages

* Also falls under the zsh-users umbrella
* Existing support for prezto
* Fairly active and maintained
* Largest community of the 3

### Disadvantages

* Not as full featured as zplug

## zgen

https://github.com/tarjoilija/zge

[2017-03-08 01:36] star-szr commented on #38
Basically, I think tying authorship to "you must now support this forever" is problematic.

So I'm in favour of including *less* of this type of boilerplate overall, and when we need such boilerplate, directing folks to this issue tracker rather than specific people. That way it's not just one person handling all the bug reports, feature requests, etc.

[2017-03-08 10:36] donpatrice commented on #35
On Ubuntu I get:
[code]
So this seems okay, but I still get
[code]

[2017-03-08 13:05] paulmelnikow commented on #35
Hmmm. Seems like it should be working then. This is the [operative line in the prompt](https://github.com/zsh-users/prezto/blob/master/modules/prompt/functions/prompt_sorin_setup#L101).

Here's what I'm seeing:

[code]

[2017-03-08 13:31] donpatrice commented on #35
I think I found the problem, but I don't understand it. If I change the login shell to zsh everything is working as expected. But if I have a different shell and then call
[code]
the problem appears.

[2017-03-08 13:42] paulmelnikow commented on #35
Ah! This is from the [zsh manpage](https://linux.die.net/man/1/zsh):

In other words, if your login shell is bash and then you invoke zsh, your `.zprofile` isn't read! So `TMPPREFIX="$(mktemp -d)/zsh"` isn't executed.

[2017-03-08 13:53] donpatrice commented on #35
Ah I see. One more thing to understand it better. If I have a bash as login shell and then I call
[code]

So the prompt plugin does not use the new $TMPPREFIX, does it? So there is no chance of getting it work without zsh as login shell?

Thank you so much.

[2017-03-08 14:06] paulmelnikow commented on #35
Unfortunately it's too late then. `TMPPREFIX` needs to be set before `prompt_sorin_setup` runs. e.g.

```TMPPREFIX=$(mktemp -d) zsh```

I think the right fix is to change Prezto, and move that logic from `zprofile` into `init.zsh` (or maybe `environment/init.zsh`). It's a good out-of-the-box default for any zsh shell, not only a login shell.

Can you check one thing? Is your current shell exportin

[2017-03-08 14:11] paulmelnikow commented on #46
@nicoulaj Would you update the description and the tags please?

[2017-03-08 14:18] donpatrice commented on #35
@paulmelnikow I get the same empty answer:
[code]
And your workaround with
[code]
works as well. Thank you.
I think you are right, it is probably best to fix Prezto and move things.

[2017-03-08 14:54] paulmelnikow commented on #35
There is [code in runcoms/zshenv](https://github.com/zsh-users/prezto/blob/master/runcoms/zshenv#L8-L11) that seems intended to load zprofile at other times. However it only runs when `"$SHLVL" -eq 1`. zsh started from a bash login shell is probably SHLVL 2.

The SHLVL test was added in sorin-ionescu/prezto#500, prior to which these settings were in `zshenv` and unconditionally loaded.

[2017-03-08 19:09] max-baz commented on #52
Hey guys, sorry for perhaps a dumb question, but I really want to clarify this for myself... If a plugin manager is a way to extend zsh, what remains of a prezto then, what is its purpose? In other words, why would I install prezto, if I could simply install antigen and use it to get all the plugins that I want? Will I even need to install prezto, or I will just install antigen and reference those

[2017-03-08 19:19] belak commented on #52
What I was told when I asked pretty much the same question in gitter is that a plugin manager would just be a convenient way for users using zprezto to install external plugins without too much configuration. There are a few PoC branches lying around which add antigen or zplug as a plugin of zprezto.

[2017-03-08 21:35] malikoth commented on #44
I don't know about questions 3 or 4.  Here are my initial thoughts on 1 and 2.

What I want out of Prezto is embodied in the expression, "Make common things easy, and rare things possible."  In line with that, I don't see any problem with adding some new features, as long as they are simple, well structured, and have high value / popularity.  For instance, I think the docker contributions from aka

[2017-03-08 22:32] paulmelnikow commented on #3
@mike3run Hey man! Take a look at that doc. What do you think? Do you think you can frame that up and make it look decent? I haven't found a designer yet. If you're comfortable giving it a go that would be perfect. If we can find a good designer and they work up a new comp, we could update the look later on. So long as you're comfortable with that!

[2017-03-09 00:05] jeffcox commented on #44
I don't think Prezto is necessarily unkind to novice users, but it is certainly not coddling them.

How much additional complexity would this require?  Is gaining users a noble goal?

I think this approach was the soul of Prezto.  Dotfiles and shell environments are inherently personal, and trying to make them all encompassing will always result in bloated projects like oh-my-zsh.  There's nothing

[2017-03-09 04:21] shelldandy commented on #3
@paulmelnikow sure thing man seems good! I'll give it a go this weekend and keep you updated. I'll make a new repo for that and link it here when the time comes. Expect news on saturday/sunday

[2017-03-09 15:27] vsrepo commented on #52
Just as a side note, it seems zim is quite fast, too: https://github.com/Eriner/zim/wiki/Speed

[2017-03-09 16:38] malikoth commented on #44
I don't think it would take much.  If there's any support for it, I'll make a PR and submit it.

I don't care if it's noble.  It's a goal I have for Prezto, regardless.  The question is if the community shares my view.  :)

I agree with this 100%.  I don't see this as being mutually exclusive with having my configuration stored separate from Prezto.

[2017-03-09 17:51] belak commented on #52
I didn't include Zim in my list above because it looked more like a collection of modules with a plugin loader than just a plugin loader. I'd be happy to do a quick comparison if it's wanted though.

[2017-03-09 18:10] priyadarshan commented on #52
I would love a quick comparison. To me speed is n. 1 priority. Looking at the benchmarks on that page, it is even slightly faster than Prezto.
Thanks!

[2017-03-09 19:13] belak commented on #52
I honestly think zim is out, because (as far as I can tell) it's a replacement for zprezto and can't load external plugins which is most of the reason for this issue to exist.

[2017-03-09 19:46] paulmelnikow commented on #52
In #44 thread, @malikoth put out a great tagline for his vision of Prezto: _Make common things easy, and rare things possible._

He identified the plugin manager as the second part, _making rare things possible._ That's exactly how I see it.

[2017-03-09 23:48] malikoth commented on #44
Perhaps that's not the question at all.  Perhaps the question is really, "Is gaining users a worthwhile goal?"  Sorin's perspective seems to be that gaining users leads to the wild wild west, and that's a bad thing.  I think that with well-defined project goals (See #44) to help differentiate between what kinds of PRs will and will not be accepted, and an active and involved community, we will be

[2017-03-10 02:12] johnpneumann commented on #48
Fixed in #50

[2017-03-10 02:12] #48 closed

[2017-03-10 06:51] crivotz commented on #44
I am agree about all points with @malikot. Thanks

[2017-03-10 06:57] priyadarshan commented on #52
As current user of this fork of Prezto, I am happy with all decision will be made. I just hope speed will be kept also high in the priorities.

[2017-03-10 08:15] sorin-ionescu commented on #52
The rationale behind not using plugin managers is that plugins will conflict making them notoriously difficult to debug. By approving each module via merging, one can guarantee that it has been tested not to conflict with other modules. Of coarse, manually testing a new, complex module against all other modules is time consuming.

Pick one:

1. Plugin manager.
2. Conflict-free setup.

[2017-03-10 08:22] sorin-ionescu commented on #44
@malikoth Keeping novice users off the issue list was a project goal. Hence why I provided no installer. Oh-My-Zsh serves them well.

[2017-03-10 08:22] priyadarshan commented on #52
Thank you. Personally, I prefer a highly curated, fast, productive zsh than do-it-yourself approach.

[2017-03-10 15:49] johnpneumann commented on #44
FWIW when I started using zsh, I used a plain version for a week and then tried oh-my-zsh (that lasted 2 days) and switched to Prezto after that. I had been an avid bash user for 12 years before that, but I don't think that there's a necessity to have an install script as everyones configuration will differ. How I setup my configuration will differ from everyone else and I think that the installat

[2017-03-10 16:48] malikoth commented on #44
@sorin-ionescu Nice to see you active!  I've been wondering if you'd come pop in and say hi.  :)

I understand that, and it makes sense.  My assumption has been that Prezto has actually gotten so much popularity that you've gotten burned out on maintaining it, leading to your recent radio silence.  If that assumption is true, it would give even more validity to your rationale.

My only point is th

[2017-03-10 16:54] sorin-ionescu commented on #44
L

 ]]>

[2017-03-10 17:17] sorin-ionescu commented on #44
I didn't get burned out. Prezto was not a priority this past year since it became good enough. A lot of pull-requests are only used by the user, not the community at large, but the user is dead set on having his module or theme merged. I want a voting system.

Homebrew got wild, but the maintainers restored the sanity of the project. The same can be done for any popular project.

My preferred merg

[2017-03-10 18:18] paulmelnikow commented on #52
@sorin-ionescu, it’s good to hear your rationale. And nice to see you in these discussions! You're a wealth of knowledge on the consequences and tradeoffs of these proposals.

I understand and agree with your point. If a user installs external stuff it can’t be tested with the rest of the distribution. These conflicts could be difficult to debug. Though, a standard install method for externals wou

[2017-03-11 01:55] johnpneumann commented on #44
@sorin-ionescu - Agree on the merge methods, however are the other bits documented or should it simply be obvious based on the current code structure, etc. ("Illiterate State University" killed me).

Also, @paulmelnikow and I have been talking and are wondering what the best way moving forward is from this point. Given that your codebase is the source of all of this (and we don't want to fracture

[2017-03-11 15:48] paulmelnikow commented on #44
Good discussion in this thread! @sorin-ionescu, great to hear from you. I’m glad there’s a path open for adding maintainers. 👍

Like many people I’ve used Prezto for a while without following the project too closely, so I discovered the fork by accident. In the two weeks since I joined as maintainer I’ve combed through old PRs, current issues, and lots of old discussions. I’m glad there’s a path o

[2017-03-11 19:46] paulmelnikow commented on #3
Just a heads up @mike3run, that things are in transition, see [this note](https://github.com/zsh-users/prezto/issues/44#issuecomment-285876380). You might not want to move forward just yet.

[2017-03-11 19:55] shelldandy commented on #3
Ok, I'll wait until next weekend to see how things go @paulmelnikow

[2017-03-17 19:42] paulmelnikow commented on #44
To clarify,

1. I don’t see much benefit in pushing forward on a community fork given Sorin is willing to add maintainers.
2. Let's put reviewing and merging changes on pause while this is sorted out. This avoids duplicated work, and confusion about the fact that un-forking is expected to be imminent.
3. Sorin has said a straight-line commit history and clear commit messages are important. That me

[2017-03-17 19:48] nicoulaj commented on #44
+1

Alternatively, there is one way that will not break any link:

 * Pull changes from this repo into sorin's one
 * Delete this repo
 * Transfer sorin's repo to the organization

Github setups redirections when transferring a repo.

2017-03-17 20:42 GMT+01:00 Paul Melnikow <notifications@github.com>:

[2017-03-17 19:56] belak commented on #44
I'd love to help out with reviewing PRs and helping to improve the existing modules (and perhaps rarely adding new ones).

I'd like to avoid being limited by one or two people if at all possible. There are quite a few projects which go mostly unmaintained because people end up waiting on a maintainer that isn't around very often (see oh-my-zsh and the 600+ pull requests). Is the plan to add more g

[2017-03-17 20:00] belak commented on #44
In terms of new modules, my personal preference would be to see a proposal issue opened before a large PR appears asking for a new module to be merged. I'm not a huge fan of modules which add tons of aliases without much else and it would be nice to see useful functionality added rather than smaller shortcuts.

And in terms of old modules, if new functionality is added, it would be nice if it didn

[2017-03-17 20:08] paulmelnikow commented on #44
Not sure this is true.

It would cause confusion and merge conflicts for users who are tracking this branch, who will see zsh-users/prezto/master as if it's been rebased. The reason is, the changes made here won't be merged, they'll be re-reviewed, brought up to quality, and rebased.

It would also cause us to lose the record of these discussions. We should keep it around. 😄 Renaming this repo fro

[2017-03-18 00:47] max-baz commented on #44
Nothing new has been merged in Sorin's repo for over a year, there won't be any duplicate work if you guys keep maintaining this project - let's have at least one alive prezto!

Deleting any of the repos is a bad idea, as both projects have open issues - you will just lose them. The best way is to ask Github folks to merge the projects - keep the code of this one, move all issues from `sorin-iones

[2017-03-18 08:46] jrolfs commented on #36
@paulmelnikow or @facastagnini  do you mind taking a look at the PR (#59) I created for this when you have time?

[2017-03-18 14:12] star-szr commented on #52
From https://github.com/zsh-users/prezto/issues/52#issuecomment-284573055:

The way I use Prezto is by loading it and some of its modules via zgen. This is not a nomination for using zgen as Prezto's plugin manager, I don't know enough about it to put that opinion forward.

Two main reasons why I did this:

1. I didn't want to maintain a fork.
2. Easy to bring in other plugins.

I'm happy with thi

[2017-03-18 17:28] paulmelnikow commented on #36
Thanks for your contribution. Reviewing and merging is on pause at the moment because this fork might shut down. Please see / respond in #44.

[2017-03-21 08:16] jrolfs commented on #44
**tldr;** I'd love to see Prezto maintained and curated with new modules only being added as deemed very important/ubiquitous while focusing on maintaining the core codebase and existing modules. I use zplug (insert your favorite zsh plugin manager here) to add functionality that is more specific to my needs.

*Update: I think Docker is a good example of something that would make sense incorporati

[2017-03-21 08:31] jrolfs commented on #52
Figured referencing this issue in my comment over on #44 would create a reference here but I don't see it and I think it's relevant here too so: https://github.com/zsh-users/prezto/issues/44#issuecomment-288005715.

I guess ultimately I agree with @Cottser here, however my concerns with adding a plugin manager within Prezto (whether enabled by default or not) are that it would be:
- Yet another zs

[2017-03-21 09:08] belak commented on #52
I've been thinking about this quite a bit lately... and at the end of the day, I'm not sure a plugin manager belongs as a plugin in a configuration framework. If a user wants external plugins, it's already fairly easy to use something like antigen or zplug along with prezto... and those integrations are already maintained by those plugin managers. It seems like additional complexity we'd end up ta

[2017-03-22 20:25] z4y4ts opened #60 "Installation instruction doesn't work for me"
Hi,

I'm giving prezto a try to see if it's actually fast and feature-rich enough for me.

So, trying to install following the instructions in the README. The problem is my zsh is complaining about following line:

[code]

Some tech info:
macOS 10.12.3 Sierra
[code]

[2017-03-22 21:06] crivotz commented on #60
Same issue here, it's a problem with GitGub renders

https://github.com/sorin-ionescu/prezto/issues/1268

[2017-03-23 16:04] sorin-ionescu commented on #44
Post collaborator (maintainer) requests at https://github.com/sorin-ionescu/prezto/issues/1269.

[2017-03-23 16:15] sorin-ionescu commented on #44
There are pull-requests of obscure modules and themes that are only used by the author.

If a module does not benefit many people, it should not be merged. Aliases need to be checked for collision.

Derivative themes that change very little, e.g., colors, should not be merged because the prompt function takes arguments allowing for theme configuration; thus, non-configurable themes should be made

[2017-04-04 15:31] paulmelnikow commented on #60
Yes, indeed. Fixed in the original, which has started merging changes!

sorin-ionescu/prezto#1271

[2017-04-04 15:31] #60 closed

[2017-04-04 15:32] paulmelnikow commented on #53
If you can identify steps to reproduce, feel free to open an issue at the original, which is now merging changes again:

https://github.com/sorin-ionescu/prezto/issues

[2017-04-04 15:33] paulmelnikow commented on #42
This should be addressed at sorin-ionescu/prezto#1252.

@belak or @danilobuerger, could you reopen it?

[2017-04-04 15:35] #27 closed

[2017-04-04 15:36] paulmelnikow commented on #4
Looks like this will be addressed at sorin-ionescu/prezto#1272.

[2017-04-05 15:07] paulmelnikow commented on #36
Now resolved in the original repo: sorin-ionescu/prezto#1276.

[2017-04-05 15:07] #36 closed

[2017-04-05 15:14] #53 closed

[2017-04-05 15:15] paulmelnikow commented on #18
If you can identify steps to reproduce or track down the commit, feel free to reopen at the original repo: https://github.com/sorin-ionescu/prezto/issues.

[2017-04-05 15:15] #18 closed

[2017-04-05 21:17] paulmelnikow commented on #35
Picking this up at sorin-ionescu/prezto#1199.

[2017-04-07 16:24] rjcoelho commented on #44
Should merge and close this fork since sorin-ionescu/prezto is active again ?

[2017-04-07 16:30] nicoulaj commented on #44
Yes. When do I delete the fork?

[2017-04-07 16:41] paulmelnikow commented on #44
I'm glad things are moving upstream! Agreed this project has served its purpose.

Instead of deleting it, could you update the description to "DEPRECATED FORK" or similar, and set the URL to point to Sorin's repo? #63 is open to add a big fat notice to the readme.

The repo serves as a historical record of what happened here, and a reference to the discussions and testing that happened around patc

[2017-04-07 19:25] nicoulaj commented on #44
No, sorry, but I don't want an abandonned fork in zsh-users. So it will be deleted, or transferred to another account.

[2017-04-07 20:31] paulmelnikow commented on #44
Hmm. Well, that's your prerogative. I could make a new organization.

[2017-04-07 20:33] belak commented on #44
I guess once we've got most of the fixes ported back over, this probably wouldn't need to exist... I'm not sure of everything that was merged in here though, so there may still be some fixes that need to be ported.

[2017-04-07 20:53] paulmelnikow commented on #44
I don't want to see the issue and PR discussions deleted. Deleting project's history isn't a good idea, especially if it can just be moved out of the way. Moving it out would clear the way to move Sorin's here.

Plus, I don't think you'll want to merge all the changes, and it'll mean you can finish addressing them over time, even if Sorin's repo gets moved right away. I offered in sorin-ionescu/pr

[2017-04-14 17:26] nicoulaj commented on #44
So which account/org do I transfer the repo to ?
I will delete the repo at the end of the month otherwise.

[2017-04-14 17:39] paulmelnikow commented on #44
@nicoulaj I created https://github.com/prezto-inactive-community-fork and invited you, along with @facastagnini and @johnpneumann.

With that name, there should be zero confusion, which is my aim.

[2017-04-14 17:42] nicoulaj commented on #44
ok, done

[2017-04-14 17:58] #46 closed

[2017-05-25 20:15] jasonmp85 commented on #44
FWIW it might be nice to push some sort of commit that issues a warning for each new shell about this fork being dead. GitHub transparently redirects I guess, so I'd been `git fetch`-ing for a while now wondering why no new commits were coming in.

[2017-08-14 18:25] #52 closed

[2017-08-14 18:25] #3 closed

[2017-08-14 18:25] #12 closed

[2017-08-14 18:25] #1 closed